version: 10.0.{build}
skip_tags: true
image: Visual Studio 2022
configuration: Release

environment:  
  CODACY_PROJECT_TOKEN:
    secure: +P1Y06uyyjji43oS/FfAYhH3gaK3QIFdsLVwINJHXfdC6uJ+RvX5EYzBE21yqdLM

dotnet_csproj:
  patch: true
  file: '**\*.props'
  version: "{version}"
  package_version: "{version}"
  assembly_version: "{version}"
  file_version: "{version}"
  informational_version: "{version}"

init:
  - SET JAVA_HOME=C:\Program Files\Java\jdk21
  - SET PATH=%JAVA_HOME%\bin;%PATH%

install:
  # If a newer build is queued for the same PR, cancel this one.
  # The AppVeyor 'rollout builds' option is supposed to serve the same
  # purpose, but it is problematic because it tends to cancel builds pushed
  # directly to main/master instead of just PR builds (or the converse).
  # credits: JuliaLang developers.
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
          https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
          Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
            throw "There are newer queued builds for this pull request, failing early." }  
  - ps: (new-object net.webclient).DownloadFile('https://couchdb.neighbourhood.ie/downloads/3.3.3-3/win/apache-couchdb-3.3.3-3.msi', 'apache-couchdb-3.3.3.msi')
  - ps: msiexec /i .\apache-couchdb-3.3.3.msi /quiet /norestart INSTALLSERVICE=1 ADMINUSER=Admin ADMINPASSWORD=myP@ssw0rd
  - ps: |
      $dotnetInstallScript = 'https://dot.net/v1/dotnet-install.ps1'
      Invoke-WebRequest $dotnetInstallScript -OutFile 'dotnet-install.ps1'
      & ./dotnet-install.ps1 -Version 9.0.100 -InstallDir "$env:USERPROFILE\.dotnet"
      $env:PATH += ";$env:USERPROFILE\.dotnet"

before_build:
  - ps: dotnet --info
  - ps: $env:SOLUTION_NAME = $([io.path]::GetFileNameWithoutExtension($(Get-ChildItem -Path .\* -Include *.sln)))
  - ps: $env:SONAR_PROJECT = "$env:APPVEYOR_REPO_NAME" -replace "/","_"
  - ps: $env:SONAR_ORGANIZATION = "$env:APPVEYOR_REPO_NAME" -replace "/.*$",""
  - ps: $env:LOCAL_PR = 0
  - ps: if(-Not $env:APPVEYOR_PULL_REQUEST_NUMBER) { $env:LOCAL_PR = 1 }
  - ps: if($env:APPVEYOR_PULL_REQUEST_HEAD_REPO_NAME -Eq $env:APPVEYOR_REPO_NAME) { $env:LOCAL_PR = 1 }
  - ps: |
      # Download and install Redis 5.0.14
      (new-object net.webclient).DownloadFile('https://github.com/tporadowski/redis/releases/download/v5.0.14.1/Redis-x64-5.0.14.1.msi', 'Redis-x64-5.0.14.1.msi')
      Start-Process msiexec -ArgumentList '/i','Redis-x64-5.0.14.1.msi','/quiet','/norestart' -Wait
      # Configure Redis password to match integration tests
      $conf = 'C:\Program Files\Redis\redis.windows.conf'
      (Get-Content $conf) -replace '^(#\s*)?requirepass .*$', 'requirepass myP@ssw0rd' | Set-Content $conf
      # Start Redis server
      Start-Process 'C:\Program Files\Redis\redis-server.exe' -ArgumentList $conf -NoNewWindow -PassThru
  - cmd: nuget restore
  - cmd: choco install opencover.portable
  - cmd: choco install codecov
  - cmd: curl -L https://github.com/codacy/codacy-coverage-reporter/releases/latest/download/codacy-coverage-reporter-assembly.jar > ./codacy-test-reporter.jar
  - cmd: dotnet tool install --global dotnet-sonarscanner

build: off

build_script:
  - ps: $Params =  "/k:`"$env:SONAR_PROJECT`"", "/o:`"$env:SONAR_ORGANIZATION`"", "/v:`"$env:APPVEYOR_BUILD_NUMBER`""
  - ps: $Params += "/d:sonar.host.url=`"https://sonarcloud.io`" /d:sonar.scanner.scanAll=false"
  - ps: if($env:LOCAL_PR -Eq 1) { $Params +=  "/d:sonar.token=`"$env:SONAR_TOKEN`"" }
  - ps: $Params += "/d:sonar.exclusions=`"**/bin/**/*,**/obj/**/*`"", "/d:sonar.coverage.exclusions=`"**/$env:SOLUTION_NAME.Tests/**,**/*Tests.cs`""
  - ps: $Params += "/d:sonar.cs.opencover.reportsPaths=`"Tests\$env:SOLUTION_NAME.Tests\coverage.net9.0.opencover.xml`""
  - ps: if(-Not $env:APPVEYOR_PULL_REQUEST_NUMBER) { $Params += "/d:sonar.branch.name=`"$env:APPVEYOR_REPO_BRANCH`"" }
  - ps: if($env:APPVEYOR_PULL_REQUEST_NUMBER) { $Params += "/d:sonar.pullrequest.key=$env:APPVEYOR_PULL_REQUEST_NUMBER", "/d:sonar.pullrequest.branch=`"$env:APPVEYOR_REPO_BRANCH`"" }
  - ps: Start-process "dotnet" "sonarscanner begin $($Params -join ' ')"
  - dotnet build --verbosity minimal %SOLUTION_NAME%.sln
  - ps: $TEST_PROJECTS = (Get-ChildItem -Path .\Tests\**\ -Recurse -Include *.csproj).Fullname
  - ps: |
      foreach($testProject in $TEST_PROJECTS)
      {
          dotnet test $testProject --no-build --verbosity minimal /p:CollectCoverage=true "/p:CoverletOutputFormat=\`"cobertura,opencover,lcov\`"" --logger:"junit;LogFilePath=test-results.xml"
          $path = Split-Path $testProject
          $wc = New-Object 'System.Net.WebClient'
          $wc.UploadFile("https://ci.appveyor.com/api/testresults/xunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $path/test-results.xml))          
      }
  - if %LOCAL_PR% EQU 1 codecov -f "Tests\%SOLUTION_NAME%.Tests\coverage.net9.0.opencover.xml"
  - if %LOCAL_PR% EQU 1 java -jar ./codacy-test-reporter.jar report -l CSharp -t %CODACY_PROJECT_TOKEN% -r "Tests\%SOLUTION_NAME%.Tests\coverage.net9.0.opencover.xml"
  - if %LOCAL_PR% EQU 1 dotnet sonarscanner end /d:sonar.token="%SONAR_TOKEN%"

after_build:
  - echo refs > exclusions.txt
  - echo "Generating binaries artifacts"
  - ps: $VERSIONS = ("netstandard2.0", "netstandard2.1", "net6.0", "net9.0")
  - ps: $PROJECTS = ("Configuration", "ElasticSearch", "Elmah", "EventLog", "I18n.PtBr", "Log4Net", "RabbitMQ", "Redis", "Utils")
  - ps: |
      foreach($version in $VERSIONS)
      {
          xcopy Src\$env:SOLUTION_NAME\bin\Release\$version\*.* Build\Core\$version\ /s /f /e /r /k /y /EXCLUDE:exclusions.txt
          foreach($project in $PROJECTS)
          {
              xcopy Src\$env:SOLUTION_NAME.$project\bin\Release\$version\*.* Build\$project\$version\ /s /f /e /r /k /y /EXCLUDE:exclusions.txt
          }
      }

  - echo "Generating nupkg and snupkg artifacts"
  - copy Src\%SOLUTION_NAME%\bin\Release\%SOLUTION_NAME%.%APPVEYOR_BUILD_VERSION%.nupkg %SOLUTION_NAME%.%APPVEYOR_BUILD_VERSION%.nupkg
  - copy Src\%SOLUTION_NAME%\bin\Release\%SOLUTION_NAME%.%APPVEYOR_BUILD_VERSION%.snupkg %SOLUTION_NAME%.%APPVEYOR_BUILD_VERSION%.snupkg
  - ps: |
      foreach($project in $PROJECTS)
      {
        copy Src\$env:SOLUTION_NAME.$project\bin\Release\$env:SOLUTION_NAME.$project.$env:APPVEYOR_BUILD_VERSION.nupkg $env:SOLUTION_NAME.$project.$env:APPVEYOR_BUILD_VERSION.nupkg
        copy Src\$env:SOLUTION_NAME.$project\bin\Release\$env:SOLUTION_NAME.$project.$env:APPVEYOR_BUILD_VERSION.snupkg $env:SOLUTION_NAME.$project.$env:APPVEYOR_BUILD_VERSION.snupkg
      }
  - ps: Get-ChildItem .\*.nupkg | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
  - ps: Get-ChildItem .\*.snupkg | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }

  - echo "Generating coverage artifact"
  - rd /s /q Src\%SOLUTION_NAME%\bin\Release\
  - xcopy Tests\%SOLUTION_NAME%.Tests\*.xml Coverage\
  - xcopy Tests\%SOLUTION_NAME%.Tests\*.json Coverage\
  - xcopy Tests\%SOLUTION_NAME%.Tests\*.info Coverage\
  - 7z a -tzip -mx9 "%SOLUTION_NAME%.%APPVEYOR_BUILD_VERSION%.Coverage.zip" Coverage
  - appveyor PushArtifact "%SOLUTION_NAME%.%APPVEYOR_BUILD_VERSION%.Coverage.zip"

  - echo "Generating compressed artifacts files"
  - ps: |
      foreach($version in $VERSIONS)
      {
        7z a -tzip -mx9 "$env:SOLUTION_NAME.Core.$version.$env:APPVEYOR_BUILD_VERSION:.zip" Build\Core\$version\
        Push-AppveyorArtifact "$env:SOLUTION_NAME.Core.$version.$env:APPVEYOR_BUILD_VERSION:.zip"
        foreach($project in $PROJECTS)
        {
          7z a -tzip -mx9 "$env:SOLUTION_NAME.$project.$version.$env:APPVEYOR_BUILD_VERSION.zip" Build\$project\$version\
          Push-AppveyorArtifact "$env:SOLUTION_NAME.$project.$version.$env:APPVEYOR_BUILD_VERSION.zip"
        }
      }

test: off

deploy:
  - provider: NuGet
    api_key: $(NUGET_TOKEN)
    skip_symbols: false
    on:
      branch: main

  - provider: GitHub
    on:
      branch: main
    tag: v$(appveyor_build_version)
    description: "Release of $(SOLUTION_NAME) - v$(appveyor_build_version)"
    auth_token: $(GITHUB_TOKEN)
    force_update: true
